.nav {
  grid-area: n;
  background-color: rgb(163,119,149);
  padding: 20px;
  text-align: center;
}

.item a{
  color: wheat;
  text-decoration-line: none;
}

.item a.activeLink {
  color: rgb(23, 23, 34);
}