.dialogs {
  display: grid;
  /* первая колонка занимает 2фр, остальные 10 */
  grid-template-columns: 2fr 10fr;
} 

.dialogsItems  {
  padding: 10px;
}

.activeLink {
  color:  rgb(202, 226, 64);
}

.dialog {
  text-decoration: none;
}

.messages {
  padding: 10px;
}

.messages .message {

}

.textarea {
  text-align: center;
}